<div class="navbar">
  <div class="middle d-flex">
    <%= link_to '<i class="user-sign-in far fa-user"></i>'.html_safe, admin_path %>
    <%= link_to '<i class="fas fa-info"></i>'.html_safe, info_path %>
    <a href="https://insights.hotjar.com/sites/2593424/dashboard" target="_blank"><i class="fas fa-poll"></i></a>
  </div>
</div>
